* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-image: url('Background.jpeg');
    background-size: cover; 
    background-repeat: no-repeat; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  
  .logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .container {
    position: relative;
    
  }
  
  h1 { /*carrinho de compras*/
 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;

  }

  .produto {
    display: flex;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
  }
  
  .imagem-produto {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .detalhes-produto {
    flex: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
  }
  
 
  h2 {/*nome produto*/
    margin-top: 10;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
  }
  
  a {
    display: inline-block;
    margin-top: 10px;
    color: blue;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  a:hover {
    text-decoration: underline;
  }