body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-image: url("Background.png");
    background-size: cover; /* Adjust the background size to cover the entire body */
    color: #fff;
}

h1 {
    text-align: center;
}

form {
    width: 300px;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
}

input[type="submit"] {
    background-color: #ffd700;
    color: #000;
    cursor: pointer;
}

.logo {
    margin-bottom: 20px;
}
